extends layout

block content
  div(class='main-content')
    h1 Heading 1
    h2 Heading 2
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia nulla eget congue porta. Aliquam erat mi, eleifend id neque non, accumsan porttitor turpis. Sed hendrerit sapien a sodales hendrerit. Vestibulum eleifend mattis fringilla. Mauris consequat, libero vel vestibulum malesuada, leo erat tristique neque, at consequat turpis erat quis tortor. Pellentesque et aliquam elit, sed vehicula odio. Pellentesque augue quam, dictum ut faucibus ac, tincidunt sagittis est. Aenean sit amet erat tincidunt, semper tellus vel, ultrices tortor. Cras nunc enim, dictum tincidunt mi vestibulum, ultrices molestie mauris. Ut eu ullamcorper elit.
    img(src='http://stivestowncouncil-cornwall.gov.uk/wp-content/uploads/2014/01/seagull-image-640x360.jpg')
    p Vivamus vel felis id nibh auctor cursus sed ac purus. Praesent malesuada lobortis nisi a semper. Aliquam auctor tincidunt interdum. Nunc nec vestibulum lacus, nec gravida ligula. Proin sed lobortis justo. Vivamus tincidunt urna nec libero molestie malesuada. Morbi luctus, odio et maximus vulputate, purus massa iaculis urna, ut efficitur nunc metus vitae est. Sed eget tristique mauris, ut scelerisque urna. Donec pellentesque elementum porta. Duis vel sodales risus. Praesent elementum elit lectus, nec eleifend dolor placerat id. Nam non pretium diam. Integer vitae ipsum sed neque tincidunt tincidunt. Sed a orci sed ex vestibulum dapibus quis a nunc.
    img(src='http://stivestowncouncil-cornwall.gov.uk/wp-content/uploads/2014/01/seagull-image-640x360.jpg')
    p Morbi ligula lacus, varius quis sodales sed, dictum eget ligula. Fusce ut tellus ut nulla finibus malesuada at ac mauris. Cras rutrum turpis eu urna faucibus, sit amet hendrerit odio hendrerit. Pellentesque risus nunc, eleifend ut mi vitae, suscipit rutrum elit. Morbi metus neque, cursus et est eget, efficitur laoreet leo. Suspendisse potenti. Sed mauris nisi, lacinia nec quam in, sagittis aliquam nisi. Aliquam vel semper felis. Mauris sit amet sapien ultricies mi lobortis placerat vel in tellus. Morbi egestas velit quis tortor blandit malesuada. Phasellus convallis auctor nisi et malesuada. Nulla tincidunt metus est, nec euismod sem molestie id. Phasellus consequat a enim sed rhoncus. Proin id tristique ex. Integer interdum est ut ipsum finibus, non consectetur massa rutrum. Morbi sollicitudin turpis id rhoncus porttitor.
    
    